{% extends "base.html" %}

{%block title%}About{% endblock %}

{% block nav%}
<div>
    <button class="btn btn-outline-secondary">login</button>
    <button class="btn btn-outline-primary">register</button>
</div>
{% endblock %}

{% block main %}
<div class="row justify-content-center align-items-center text-center h-100">
    <div>
        <p>This is an open source project for the Technische Universität Berlin.</p>
        <p>&copy; 2020, the <b>lit</b> contributors. Find the project on <a href="https://github.com/peppasd/LIT">GitHub</a>.</p>
    </div>
</div>
{% endblock %}