{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Set new Password {% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'auth/styles/forms.css' %}">
{% endblock %}


{% block main %}
<div class="row justify-content-center">
  <div class="col-xl-6 col-md-8 col-10">
    <div class="card mb-4">
      <div class="card-body nav-light">
        {% if validlink %}
        <form method="POST" novalidate>
          {% csrf_token %}
          {{form|crispy}}
          <button type="submit" class="btn btn-outline-primary">Save</button>
        </form>
        {% else %}
        <div class="alert alert-warning">
          <strong>Invalid token!</strong>
        </div>
        <a role="button" class="btn btn-outline-secondary float-right" href="{% url 'password_reset' %}">Request a new password reset token</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}