{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'project_overview/styles/project.css' %}">
{% endblock %}

{% block main %}

<!-- TITLE -->
<div class="title" id='myHeader'>
    <h1><b>The Queen Project</b>
        <button type="button" class="btn btn-edit-icon mr-5" onclick="alert('Edit title!')"></button>
    </h1>
    <hr class="hr-text">
</div>


<div class="row">

    <div class="col-lg-10 col-sm-12">
        <div class= 'row'>
            <!--TAGS-->
            <div class='col-12 col-lg-6'>
                <div class='row'>
                    <div class='col'>
                        <h3>Tags:</h3>
                    </div>
                    <div class='col d-flex justify-content-end'>
                    </div>
                </div>
                <div class='col'>
                    <div class='row ml-1'>
                        {% if tags %}
                        {% for tag in tags %}
                        <button type="button" class="btn btn-primary mr-3 mt-3" disabled>{{tag}}</button>
                        {% endfor%}
                        {% else %}
                        No tags available for the project.
                        {% endif %}
                        <!--edit tags button-->
                        <button type="button" class="btn btn-edit-icon mr-3 mt-3" onclick="alert('Edit tags!')"></button>
                    </div>
                </div>
            </div>

            <!--STATS-->
            <div class='col-12 col-lg-6 mt-4 mt-lg-0'>
                <div class='col-12 px-0'>
                    <h3>Stats:</h3>
                </div>
                <div class='col'>
                    Count Images :  {{count_images}} <p></p>
                    <div class='row progress align-center ml-3 '>
                        <div class="progress-bar " role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width:70%"> 70%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--IMAGES-->
        <div class='row mt-5'>
            <div class='col-12 col-sm-4'>
                <h3>Images:</h3>
            </div>
            <div class='col-12 col-sm-8 d-flex justify-content-around justify-content-lg-end'>
                <button type="button" class="btn btn-outline-primary mr-4" onclick='alert("Upload Image.");'> Upload </button>
                <a href = './images'>
                    <button type="button" class="btn btn-outline-primary mr-sm-5">Show all</button>
                </a>
            </div>
            <div class='col'>
                <div class='row d-flex justify-content-around'>
                    {% if images %}
                    {% for image in images %}
                    <div class='square'> <img src = "{{image.url}}"> </div>
                    {% endfor %}
                    {% else %}
                    No image availble for the project.
                    Try uploading one.  
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>

    <!--MEMBERS -->
    <div class="col-12 col-lg-2">
        <div class="row px-3 ml-lg-4">
            <table class="table table-hover">
                <h3>Members:</h3>
                <tbody>
                    {% if members %}
                    {% for member in members %}
                    <tr><td>{{member.username}}</td></tr>
                    {% endfor %}
                    {% else %}
                    <tr><td>Nobody here.</td></tr>
                    {% endif %}
                </tbody>
            </table>
            <button type="button" class="btn btn-outline-primary">Invite</button>
        </div>
    </div>
</div>
    
{% endblock main %}



