* {
    font-family: 'DM Mono', monospace;
}

.cards::after{
    content: '';
    flex: auto;
}

.img{
    max-width: 300px;
    max-height: 300px;
}
.floating-btn{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    color: white;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 20px;
    bottom: 80px;
}

.primaryColor{
    background: rgb(242, 133, 15);
}
.darkColor{
    background: rgb(237, 96, 1);
}

.lightColor{
    background: rgb(255, 197, 68);
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.pwdheight{
    height: 115%;
}

.confirm_password{
    height: 90%;
}
a {
    color: black;
}

a:hover {
    color: rgb(242, 133, 15);
}

.btn {
    border-radius: 1rem;
}
.floating-btn{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    /*border-radius: 50%; dunno if squared button is better*/
    color: white;
    font-size: 40px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 20px;
    bottom: 80px;
}

.btn:focus {
    box-shadow: none;
}

.btn-outline-primary {
    border-color: black;
    border-width: 2px;
    color: black;
}

.btn-outline-primary:hover {
    background-color: transparent;
    color: black;
    border-color: rgb(242, 133, 15);
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: rgb(242, 133, 15);
    border-color: rgb(237, 96, 1);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}


.btn-outline-secondary {
    border-color: gray;
    border-width: 2px;
    color: grey;
}

.btn-outline-secondary:hover {
    background-color: transparent;
    border-color: rgb(255, 197, 68);
    color: grey;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active {
    background-color: rgb(255, 197, 68);
    border-color: rgb(242, 133, 15);
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}