.square > img {
  background-color: #ff8a65;
  border-radius: 1rem;
  border: 2px solid #ff8a65;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

.square {
  overflow: hidden;
  max-width: 400px;
  text-align:center;
}

.square-grid > img {
  border-radius: 1rem;
  border: 2px solid #ff8a65;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #ff8a65;
  cursor: pointer;
}

.square-grid {
  overflow: hidden;
  max-width: 400px;
  position: relative;
}

.tag {
  background-color: #ffb74d;
}

.tag:hover {
  background-color: #ff9800;
}

.checkbox {
  position:absolute; bottom:50px; right:20px;
}

.delete-btn{
  border:none;
  background-color: transparent;
  background-size: cover;
  position: absolute;
  right: 2%;
  top: 2%;
  }

.delete-icon{
  font-size: 32px;
  color: #e53935;
  transition: 0.3s;
  }

.delete-icon:hover{
    color: #b71c1c;
  }

.edit-icon{
  transition: 0.3s;
}

.edit-icon:hover{
  color: #ff8a65;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}
.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}

.title{
  text-align: center;
  padding: 0 0 20px 0;
  width:100%;
  transition: 0.2s;
  top:0;
}

.progress {
    border: 2px solid black;
    background-color: transparent;
}

.progress-bar {
    background-color: #ffb74d;
    color: black;
}

.dropzone{
  border: 2px dashed #c75b39 !important;
  background: #fff3e0 !important;
  width: 10rem;
  height: 5rem;
}

.btnForOwner:hover {
  text-decoration: line-through;
}