{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Create Tags {% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'projects/styles/projects.css' %}">
{% endblock %}

{% block main %}

<!-- TITLE -->
<div class="title" id='myHeader'>
    <h1><b>Create Tags</b></h1>
    
</div>

<div class="container-fluid row">
    <form method="POST" class="form w-100">
        {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="InputTagName">Tag Name</label>
            <input name="name" type="text" class="form-control" id="InputTagName" required value="{{form.initial.name}}">
        </div>
        <div class="form-group col-md-6">
            <label for="inputType">Type</label>
            <input name="typeDisabled" type="text" class="form-control" id="InputTagName" disabled placeholder="{{form.initial.type}}">  
            <input name="type" type="text" class="form-control"  hidden required value="{{form.initial.type}}">          
        </div>
        <button type="submit" class="btn btn-outline-primary col-12 col-md-3 mt-3 offset-md-9 ">Save</button>
        <a role="button" class="btn btn-outline-secondary col-12 col-md-3 mt-3 offset-md-9" onclick="return confirm('Are you sure you want to delete this?')" href="{% url 'removeTag' pk %}">Remove</a>        
        
    </div>
    </form>
  
</div>



{% endblock main %}