{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} {{project.name}} {% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'projects/styles/projects.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'auth/styles/forms.css' %}">
{% endblock %}

{% block main %}

<!-- TITLE -->
<div class="title" id='myHeader'>
    <h1><b>{{project.name}}</b></h1>
    {% if user in project.owners.all %}
    <button type="button" class="btn btn-edit-icon mr-5"
        onclick="window.location.href='{% url 'edit_project' project.id %}';"></button>
    {% endif %}
    {% if user in project.owners.all %}
    <button type="button" class="btn btn-download-icon mr-5"
        onclick="window.location.href='{% url 'download' project.id %}';">Download</button>
    {% endif %}
    <p></p>
    <h6 class="card-subtitle text-muted mb-3">{{project.created}}, owner: {{project.ownerName}}</h6>
    <hr class="hr-text">
</div>


<div class="row">

    <div class="col-lg-8 col-sm-12">

        <div class='row'>
            <!--Description-->
            <h3>Description:</h3>
            {% if user in project.owners.all %}
            <button type="button" class="btn btn-edit-icon mr-3 mb-2"
                onclick="window.location.href='{% url 'edit_project' project.id %}';"></button>
            {% endif %}
            <div class='col-12'>
                {% if project.description %}
                {{project.description}}
                {%else %}
                No description found.
                {% endif %}
            </div>

        </div>

        <div class='row mt-5'>
            <!--TAGS-->
            <div class='col-12 col-lg-8 px-0'>
                <div class='row'>
                    <div class='col'>
                        <h3>Tags:</h3>
                    </div>
                    <div class='col d-flex justify-content-end'>
                    </div>
                </div>
                <div class='col'>
                    <div class='row ml-1'>
                        {% if tags %}
                        {%if user in project.owners.all%}
                        {% for tag in tags %}
                        <!--Tags now have 4 different colors-->
                        {%if forloop.counter0|divisibleby:"4"%}

                        <button class="btn btn-warning mr-3 mt-3"
                            onclick="window.location.href='{% url 'edit_tag' tag.id %}'">{{tag.name}}</button>

                        {%elif forloop.counter0|divisibleby:"3"%}

                        <button class="btn btn-primary mr-3 mt-3"
                            onclick="window.location.href='{% url 'edit_tag' tag.id %}'">{{tag.name}}</button>

                        {% elif forloop.counter0|divisibleby:"2" %}

                        <button type="button" class="btn btn-secondary mr-3 mt-3"
                            onclick="window.location.href='{% url 'edit_tag' tag.id %}'">{{tag.name}}</button>

                        {% else %}

                        <button type="button" class="btn btn-danger mr-3 mt-3"
                            onclick="window.location.href='{% url 'edit_tag' tag.id %}'">{{tag.name}}</button>

                        {% endif %}
                        {% endfor%}
                        {% else %}
                        {% for tag in tags %}
                        <!--Tags now have 4 different colors-->
                        {%if forloop.counter0|divisibleby:"4"%}
                        <button type="submit" class="btn btn-warning mr-3 mt-3" disabled>{{tag.name}}</button>
                        {%elif forloop.counter0|divisibleby:"3"%}
                        <button type="button" class="btn btn-primary mr-3 mt-3" disabled>{{tag.name}}</button>
                        {% elif forloop.counter0|divisibleby:"2" %}
                        <button type="button" class="btn btn-secondary mr-3 mt-3" disabled>{{tag.name}}</button>
                        {% else %}
                        <button type="button" class="btn btn-danger mr-3 mt-3" disabled>{{tag.name}}</button>
                        {% endif %}
                        {% endfor%}
                        {% endif %}
                        {% else %}
                        No tags available for the project.
                        {% endif %}
                        <!--edit tags button-->
                        {% if user in project.owners.all %}
                        <button type="button" class="btn btn-edit-icon mr-3 mt-3"
                            onclick="window.location.href='{% url 'create_tags' project.pk %}'"></button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!--STATS-->
            <div class='col-12 col-lg-4 mt-4 px-0 mt-lg-0'>
                <div class='col-12 px-0'>
                    <h3>Stats:</h3>
                </div>
                <div class='col'>
                    Count Images: {{count_images}} <p></p>
                    Labeled Images: {{tagged_images}} <p></p>
                    <div class='row progress align-center mx- '>
                        <div class="progress-bar " role="progressbar" aria-valuenow="{{project.progress}}"
                            aria-valuemin="0" aria-valuemax="100" style="width:{{project.progress}}%">
                            {{project.progress}}%
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--IMAGES-->
        <div class='row mt-5'>
            <div class='col-12 col-sm-4 px-0'>
                <h3>Images:</h3>
            </div>
            <div class='col-12 col-sm-8'>
                <div class="d-flex justify-content-around justify-content-lg-end">
                    {% if user in project.owners.all %}
                    <a role="button" class="btn btn-outline-primary mr-4"
                        href="{%url 'upload_images' project.id%}">Upload</a>
                    <a role="button" class="btn btn-outline-primary mr-sm-5"
                        href="{% url 'project_images' project.id %}">Show all</a>
                    {% else %}
                    <a role="button" class="btn btn-outline-primary mr-sm-5"
                        href="{% url 'project_images' project.id %}">Show all</a>
                    {% endif %}
                </div>
            </div>
            <div class='col'>
                <div class='row d-flex justify-content-around'>
                    {% if project.images %}
                    {% for image in project.images.all|slice:"10" %}
                    <!--only the first 10 images, other will be loaded if the button gets klicked-->
                    {% if user in members %}
                    <div class='square'>
                        <img loading="lazy" src="{{image.file.url}}"
                            onclick="window.location.href='{% url 'project_labeler' project.id %}'">
                    </div>
                    {% else %}
                    <div class='square'>
                        <img loading="lazy" src="{{image.file.url}}"
                            onclick="window.location.href='{% url 'project_overview' project.id %}'">
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    No image available for the project.
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <!--MEMBERS -->
    <div class="col-12 col-lg-3 ml-lg-5 pl-lg-5">
        <div class="row">
            <table class="table table-hover">
                <h3>Members:</h3>
                <tbody>
                    {% if members %}
                    {% for member in members %}
                    <tr>
                        <td>{{member.username}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>Nobody here.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class='row float-right mr-3'>
            {% if user in project.owners.all %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {% if ph %}
                    <span class="text-danger">{{ph}}</span>
                    {% endif %}
                    <input name="username" type="text" class="form-control mb-3" required placeholder="user name">
                    <button type="submit" class="btn btn-outline-primary mb-3">Invite</button>
                </div>

            </form>
            {% endif %}
            {% if user not in members %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input name="username" type="text" class="form-control mb-3" value="__join__" hidden>
                    <button type="submit" class="btn btn-outline-primary mb-3">Join</button>
                </div>

            </form>
            {% endif %}
        </div>

    </div>
</div>

{% endblock main %}