{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} {{project.name}} {% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'projects/styles/projects.css' %}">
{% endblock %}

{% block main %}

<!-- TITLE -->
<div class="title" id='myHeader'>
    <h1><b>{{project.name}}</b></h1>
    {% if user in project.owners.all %}
        <button type="button" class="btn btn-edit-icon mr-5" onclick="window.location.href='{#{% url 'editProject' %}#}'"></button> 
    {% endif %} 
    <hr class="hr-text">
</div>


<div class="row">

    <div class="col-lg-8 col-sm-12">

        <div class='row'>
            <!--Description-->
            <h3>Description:</h3>
            {% if user in project.owners.all %}
             <button type="button" class="btn btn-edit-icon mr-3 mb-2" onclick="window.location.href='{#{% url 'editProject' %}#}'"></button>
            {% endif %}
            <div class='col-12'>
                {% if project.description %}
                    {{project.description}}
                {%else %}
                    No description found.
                {% endif %}
            </div>
            
        </div>

        <div class= 'row mt-5'>
            <!--TAGS-->
            <div class='col-12 col-lg-8 px-0'>
                <div class='row'>
                    <div class='col'>
                        <h3>Tags:</h3>
                    </div>
                    <div class='col d-flex justify-content-end'>
                    </div>
                </div>
                <div class='col'>
                    <div class='row ml-1'>
                        {% if tags %}
                            {%if user in project.owners.all%}
                                {% for tag in tags %}
                                <!--Tags now have 4 different colors-->
                                    {%if forloop.counter0|divisibleby:"4"%}
                                    <form method="POST">
                                        <button type="submit" class="btn btn-warning mr-3 mt-3 btnForOwner" name="DeleteButon" vale="{{tag.id}}" style="">{{tag}}</button>
                                    </form>
                                    {%elif forloop.counter0|divisibleby:"3"%}
                                    <form method="POST">
                                        <button type="sub" class="btn btn-primary mr-3 mt-3" name="DeleteButon" vale="{{tag.id}}" >{{tag}}</button>
                                        </form>
                                    {% elif forloop.counter0|divisibleby:"2" %}
                                    <form method="POST">
                                        <button type="button" class="btn btn-secondary mr-3 mt-3" name="DeleteButon" vale="{{tag.id}}">{{tag}}</button>
                                    </form>
                                    {% else %}
                                    <form method="POST">
                                        <button type="button" class="btn btn-danger mr-3 mt-3" name="DeleteButon" value="{{tag.id}}" >{{tag}}</button>
                                    </form>
                                    {% endif %}
                                {% endfor%}
                            {% else %}
                                {% for tag in tags %}
                                <!--Tags now have 4 different colors-->
                                    {%if forloop.counter0|divisibleby:"4"%}
                                        <button type="submit" class="btn btn-warning mr-3 mt-3" disabled>{{tag}}</button>
                                    {%elif forloop.counter0|divisibleby:"3"%}
                                        <button type="button" class="btn btn-primary mr-3 mt-3" disabled>{{tag}}</button>
                                    {% elif forloop.counter0|divisibleby:"2" %}
                                        <button type="button" class="btn btn-secondary mr-3 mt-3" disabled>{{tag}}</button>
                                    {% else %}
                                        <button type="button" class="btn btn-danger mr-3 mt-3" disabled>{{tag}}</button>
                                    {% endif %}
                                {% endfor%}
                            {% endif %}
                        {% else %}
                        No tags available for the project.
                        {% endif %}
                        <!--edit tags button-->
                        {% if user in project.owners.all %}                        
                        <button type="button" class="btn btn-edit-icon mr-3 mt-3" onclick="window.location.href='{% url 'create_tags' project.pk %}'"></button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!--STATS-->
            <div class='col-12 col-lg-4 mt-4 px-0 mt-lg-0'>
                <div class='col-12 px-0'>
                    <h3>Stats:</h3>
                </div>
                <div class='col'>
                    Count Images :  {{count_images}} <p></p>
                    <div class='row progress align-center mx- '>
                        <div class="progress-bar " role="progressbar" aria-valuenow="{{project.progress}}"
                        aria-valuemin="0" aria-valuemax="100" style="width:{{project.progress}}%">{{project.progress}}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--IMAGES-->
        <div class='row mt-5'>
            <div class='col-12 col-sm-4 px-0'>
                <h3>Images:</h3>
            </div>
            <div class='col-12 col-sm-8'>
                <div class="d-flex justify-content-around justify-content-lg-end">
                {#{% if user in project.owners.all %}#}
                    <a role="button" class="btn btn-outline-primary mr-4" href="{%url 'upload_images'%}" >Upload</a>
                    <a role="button" class="btn btn-outline-primary mr-sm-5" href = "{% url 'project_images' %}">Show all</a>
                {#{% endif %}#}
                </div>
            </div>
            <div class='col'>
                <div class='row d-flex justify-content-around'>
                    {% if images %}
                    {% for image in images|slice:"10" %} <!--only the first 10 images, other will be loaded if the button gets klicked-->
                    <div class='square'>
                        <img src = "{{image.url}}">
                    </div>
                    {% endfor %}
                    {% else %}
                    No image available for the project.
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>

    <!--MEMBERS -->
    <div class="col-12 col-lg-3 ml-lg-5 pl-lg-5">
        <div class="row">
            <table class="table table-hover">
                <h3>Members:</h3>
                <tbody>
                    {% if members %}
                    {% for member in members %}
                    <tr><td>{{member.username}}</td></tr>
                    {% endfor %}
                    {% else %}
                    <tr><td>Nobody here.</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        {% if user in project.owners.all %}
        <div class='row float-right mr-3'>
            <a type="button" class="btn btn-outline-primary" href="{#{% url link to invite user %}#}">Invite</a>
        </div>
        {% endif %}
    </div>
</div>
    
{% endblock main %}



