{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Labeler {% endblock %}

{% load static %}
{% block css %}
    <link rel='stylesheet' type='text/css' href='{% static "carousel/styles/projects.css" %}'>
{% endblock css %}

{% block main %}

<!--TITLE-->
<div class='title'>
    <h1><b>The Queen Project</b></h1>
    <hr class="hr-text">
</div>

<div class='row'>

<!--Carousel-->
<div class='row'>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval=false>
    <div class="carousel-inner">
        {% if labelimages %}
        {% for image in labelimages %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}" >
          <div class='col'>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope='col'>#</th>
                  {% for t in tags %}
                  <th scope="col">{{t}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class='col'>
            <img id='myImg' class="d-block w-100" src="{{ image.url }}" alt="Third slide">
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="carousel-item active">
          <img class="d-block w-100" src="{% static 'global/assets/logo.svg' %}" alt="Third slide">
        </div>
        {% endif %} 
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>

  <script>
    // Get the modal
    var modal = document.getElementById('myModal');
    
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }
    </script>

</div>


{% endblock main %}