html, body {
    font-family: 'DM Mono', monospace;
    height: 100vh;
    background-color: #fff3e0;
}

main > .container-fluid {
    padding-top: 80px;
    padding-bottom: 60px;
    width: 75%;
}

.navbar{
    background-color: #ffcc80;
}

#account-div {
    display: flex;
    align-items: baseline;
}

.footer {
    background-color: #fff3e0;
}

.footer > .container-fluid {
    width: 75%;
}

a {
    color: black;
}

a:hover {
    color: #c75b39;
}

.btn {
    border-radius: 0.5rem;
}

.btn:focus {
    box-shadow: none;
}

.btn-outline-primary {
    border-color: black;
    border-width: 2px;
    background-color: #ff8a65;
    color: black;
}

.btn-outline-primary:hover {
    color: black;
    background-color: #ff8a65;
    border-color: #c75b39;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: #c75b39;
    border-color: #c75b39;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}


.btn-outline-secondary {
    border-color: black;
    border-width: 2px;
    background-color: #ffccbc;
    color: black;
}

.btn-outline-secondary:hover {
    color: black;
    background-color: #ffccbc;
    border-color: #cb9b8c;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active {
    background-color: #cb9b8c;
    border-color: #cb9b8c;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.form-control {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 1rem;
    resize: none;
}

.form-control:focus {
    background-color: transparent;
    border: 2px solid #c75b39;
    box-shadow: none;

}
  